<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>E-Leilão</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="jumbotron" align="center" style="margin-top: 50px;">
			<h3>Leiões em andamento</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Natureza</th>
						<th>Lances</th>
						<th>Situaçao</th>
					</tr>
				</thead>
				<tr th:each="leilao : ${leiloes}">
					<td><span th:text="${leilao.lote.descricao}"></span></td>
					<td><span th:text="${leilao.naturezaLeilao.nome}"></span></td>
					<td><span th:text="${leilao.tipoLance.nome}"></span></td>
					
					<td th:switch="${leilao.finalizado}">
						<span th:case="true"  th:text="Finalizado"></span>
						<span th:case="false"  th:text="Execução"></span>
					</td>
					
					<td th:switch="${leilao.tipoLance.idTipoLance}">
					
						<button class="btn btn-primary"
							th:attr="data-whatever=''+${leilao.idLeilao}" data-toggle="modal"
							data-target="#informacoesModal">Consultar Informações</button>
							
						<button th:if="${!leilao.finalizado}" class="btn btn-primary"
							th:attr="data-whatever=''+${leilao.idLeilao}" data-toggle="modal"
							data-target="#exampleModal">Realizar Lance</button>
							
						<button th:if="${leilao.finalizado}" class="btn btn-primary"
							th:attr="data-whatever=''+${leilao.idLeilao}" data-toggle="modal"
							data-target="#exampleModal" disabled="disabled">Realizar Lance</button>
							
						<button th:if="${leilao.finalizado || leilao.naturezaLeilao.idNaturezaLeilao == 1} " class="btn btn-primary"
							th:attr="data-whatever=''+${leilao.idLeilao}" data-toggle="modal"
							data-target="#lancesModal">Consultar Lances</button>
							
						<button th:if="${!leilao.finalizado and leilao.naturezaLeilao.idNaturezaLeilao == 2}" class="btn btn-primary"
							th:attr="data-whatever=''+${leilao.idLeilao}" data-toggle="modal"
							data-target="#lancesModal" disabled="disabled">Consultar Lances</button>
					</td>
				</tr>
			</table>
		</div>
		<form action="index">
			<button class="btn pull-right">Voltar</button>
		</form>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Valor do lance</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="efetuarLance">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Valor:</label>
							<input type="text" name="valorString" class="form-control"
								id="recipient-name"></input>
							<input type="hidden" name="idLeilao"
								class="form-control" id="id-leilao"></input>
						</div>
						<button type="submit" class="btn btn-primary">Confirmar lance</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="lancesModal" tabindex="-1" role="dialog"
		aria-labelledby="lancesModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="lancesModalLabel">Lances efetuados</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table id="table-lances" class="table table-striped">
						<thead>
							<tr>
								<th>Valor</th>
								<th>Data</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="informacoesModal" tabindex="-1" role="dialog"
		aria-labelledby="lancesModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="informacoesModalLabel">Informações</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row" id="row-natureza">
							<label class="control-label col-sm-2">Natureza:</label> 
						</div>
						<div class="row" id="row-data-final">
							<label class="control-label col-sm-2">Data final:</label> 
						</div>
						<div class="row" id="row-data-inicial">
							<label class="control-label col-sm-2">Data inicial:</label> 
						</div>
						<div class="row" id="row-valor">
							<label class="control-label col-sm-2">Lance vencedor:</label> 
						</div>
						<div class="row" id="row-lance-vencedor">
							<label class="control-label col-sm-2">Lance vencedor:</label> 
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
	<script type="text/javascript">

			$(document).ready(function(){
		  	  $("#recipient-name").maskMoney();
		  	});
		  	
	    	$('#exampleModal').on('show.bs.modal', function (event) {
	    	  var button = $(event.relatedTarget) // Button that triggered the modal
	    	  var recipient = button.data('whatever') // Extract info from data-* attributes
	    	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	    	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	    	  var modal = $(this)
	    	  modal.find('#id-leilao').val(recipient)
	    	})
	    	
	    	$('#lancesModal').on('show.bs.modal', function (event) {
	    	  var button = $(event.relatedTarget) // Button that triggered the modal
	    	  var recipient = button.data('whatever') // Extract info from data-* attributes
	    	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	    	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	    	  var modal = $(this)
	    	  modal.find('#id-leilao').val(recipient)
	    	  
	    	  var jqxhr = $.get( "/lance/"+recipient, function(data) {
				$('#table-lances tbody tr').remove();
	    		  $.each( data, function( key, value ) {
	    			  var date = new Date(value.dataHora);
	    			  $('#table-lances tbody').append('<tr><td>'+value.valorString+'</td><td>'+date.toLocaleString()+'</td></tr>')
	    			})
	    		})
    		  .done(function() {
    		  })
    		  .fail(function() {
    		  })
    		  .always(function() {
    		  });
	    	})
	    	
	    	$('#informacoesModal').on('show.bs.modal', function (event) {
	    	  var button = $(event.relatedTarget) // Button that triggered the modal
	    	  var recipient = button.data('whatever') // Extract info from data-* attributes
	    	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	    	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	    	  var modal = $(this)
	    	  modal.find('#id-leilao').val(recipient)
	    	  
	    	  var jqxhr = $.get( "leilao/informacoes/"+recipient, function(data) {

		    	var dataInicial = new Date(data.dataInicio).toLocaleString()
		    	var dataFinal = new Date(data.dataFim).toLocaleString()
		    	  	
		    	  	$('#row-natureza span').remove();
		    	  	$('#row-valor span').remove();
		    	  	$('#row-valor label').remove();
					$('#row-data-inicial span').remove();
					$('#row-data-final span').remove();
					$('#row-lance-vencedor span').remove();
		    	  
					$('#row-natureza').append('<span>'+data.naturezaLeilao.nome+'</span>');
					$('#row-data-inicial').append('<span>'+dataInicial+'</span>');

					if(data.naturezaLeilao.idNaturezaLeilao == '1') {
						$('#row-valor').append('<label class="control-label col-sm-2">Valor mínimo:</label>');
						$('#row-valor').append('<span>'+data.valorString+'</span>');
					} else {
						$('#row-valor').append('<label class="control-label col-sm-2">Valor máximo:</label>');
						$('#row-valor').append('<span>'+data.valorString+'</span>');
					}
					
					$('#row-data-final').append('<span>'+dataFinal+'</span>');
					$('#row-lance-vencedor').append('<span>'+data.lanceVencedor+'</span>');
	    	  })  
    		  .done(function() {
    		  })
    		  .fail(function() {
    		  })
    		  .always(function() {
    		  });
	    	})
	    </script>

</body>
</html>