<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>E-Leilão</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
		<div class="jumbotron" align="center" style="margin-top: 50px;">
			<h3>Cadastrar Empresa</h3>
			<form class="form-horizontal" action="salvarempresa">
				<div class="form-group">
					<label class="control-label col-sm-2">Nome:</label>
					<div class='col-sm-5'>
	                    <input type='text' name="nome" class="form-control" required="required"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">CNPJ:</label>
					<div class='col-sm-5'>
	                    <textarea name="cnpj" class="form-control" required="required"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">Endereço:</label>
					<div class='col-sm-5'>
	                    <textarea name="endereco" class="form-control" required="required"/>
					</div>
				</div>
				<button class="btn btn-primary">Cadastrar</button>
			</form>
		</div>
		
		<form action="index">
			<button class="btn pull-right">Voltar</button>
		</form>
	</div>
	    
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="bootstrap/js/bootstrap.min.js"></script>
	
	</body>
</html>