<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Gestão de Oportunidades</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="jumbotron" align="center" style="margin-top: 50px;">
			<h3>Aportunidades Disponíveis</h3>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Empresa</th>
						<th>Vaga</th>
						<th>Descrição</th>
						<th>Bolsa</th>
					</tr>
				</thead>
				<tbody>
				 	<tr th:each="oportunidade : ${oportunidades}">
				 		<td><span th:text="${oportunidade.empresa.nome}"></span></td>
				 		<td><span th:text="${oportunidade.nome}"></span></td>
				 		<td><span th:text="${oportunidade.descricao}"></span></td>
				 		<td>R$ <span th:text="${oportunidade.valorString}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>

		<form action="index">
			<button class="btn pull-right">Voltar</button>
		</form>

	</div>
			
</body>
</html>