<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Gestão de Oportunidades</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">Usuario logado: <span th:text="${session?.usuarioLogado?.nome}"></span>
		<span th:text="${WelcomeMessage}"></span>
		<span th:text="${exception?.message}"></span>
		</div>
		<div class="container" >
			<div class="jumbotron" align="center" style="margin-top: 50px;">
				<h3>Seja bem vindo ao Sistema de Gestão de Oportunidades</h3>
				<div align="center">

					<div class="row form-group">
						<a href="consultaroportunidades" class="btn btn-lg btn-primary">Consultar Oportunidades</a>
					</div>
					
					<div class="row form-group">
						<a href="consultarcandidaturas" class="btn btn-lg btn-primary">Minhas Candidaturas</a>
					</div>

<!-- 					Empresa Parceira -->
					<div th:if="${session?.usuarioLogado?.idTipoUsuario == 2}" class="row form-group">
						<a href="cadastraroportunidade" class="btn btn-lg btn-primary">Cadastrar Oportunidade</a>
					</div>
					
<!-- 					Secretaria da Universidade -->
					<div th:if="${session?.usuarioLogado?.idTipoUsuario == 4}"  class="row form-group">
						<a href="cadastrarempresa" class="btn btn-lg btn-primary">Cadastrar Empresa</a>
					</div>
					
				</div>
			</div>
		</div>
	    
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="bootstrap/js/bootstrap.min.js"></script>
	
	</body>
</html>